<mat-toolbar color="primary">
  <span>Program Planner</span>
  <span class="example-spacer"></span>
  <!--<span class="menu_button">       <a mat-button routerLink="" routerLinkActive="mat-accent"> Home </a> </span>-->
  <span class="menu_button">       <a mat-button routerLink=""> Home </a> </span>
  <span class="menu_button">       <a mat-button routerLink="/course_create_list"
                                      routerLinkActive="mat-accent"> Create New Course</a> </span>
  <ul>
    <li>
      <!--<a mat-button routerLink="" routerLinkActive="mat-accent"> Home </a>-->
    </li>
    <li>
      <!--<a mat-button routerLink="/course_create_list" routerLinkActive="mat-accent"> Create New Course</a>-->
    </li>
  </ul>
</mat-toolbar>
