<div [ngStyle]="{'width': '60%'}">
  {{getClickedBoxes()}}
  <div class="wrapper">
    <div [ngStyle]="{'grid-row' : 1,'grid-column' : 1}">Time</div>
    <div [ngStyle]="{'grid-row' : 1,'grid-column' : 2}">Monday</div>
    <div [ngStyle]="{'grid-row' : 1,'grid-column' : 3}">Tuesday</div>
    <div [ngStyle]="{'grid-row' : 1,'grid-column' : 4}">Wednesday</div>
    <div [ngStyle]="{'grid-row' : 1,'grid-column' : 5}">Thursday</div>
    <div [ngStyle]="{'grid-row' : 1,'grid-column' : 6}">Friday</div>
    <div *ngFor ="let timeColumnIndex of timeColumn" [ngStyle]="{'grid-row-start': timeColumnIndex*3+2 , 'grid-row-end': timeColumnIndex*3+3+2 , 'grid-column': 1, 'max-height' : '12px', 'font-size' : '0.6vw' }" >
      {{getTime(timeColumnIndex*15+480)}}
    </div>
    <div *ngFor="let classTemp of classes.classInfo" [ngStyle]="{'grid-row-start': getClassRowStart(classTemp) , 'grid-row-end': getClassRowEnd(classTemp) , 'grid-column': getClassColumn(classTemp)}">
      <div [ngStyle]="{'text-align': 'center', 'overflow' : 'hidden', 'font-size' : '1vw'}">
        {{classTemp.name}}<br>
        {{getTime(classTemp.start)}} - {{getTime(classTemp.end)}}
      </div>
    </div>
    <ng-container *ngFor="let gridIndex of gridTimes">

      <div *ngIf="(checkFreeTime(gridIndex)) === true" [ngStyle]="{'background-color' : getMouseOver(gridIndex) , 'border' : '0px' , 'max-height' : '9px', 'overflow' : 'hidden', 'font-size' : '2px'}" (mouseover)="setMouseOver(gridIndex)" (mousedown)="mouseClicked(gridIndex)" (mouseup)="mouseDeclicked()"> <!-- only creates div if the box isn't occupied by a class, this gives each empty div a unique gridIndex, using this they can be identified-->
        <!--{{getData(gridIndex)}}-->    <!--prints coordinates of the empty div for debugging-->
      </div>

    </ng-container>
  </div>
</div>
