<div class="calendarView" [ngStyle]="{'width': '100%'}">
  <div class="wrapper">
    <div class="time" [ngStyle]="{'grid-row' : 1,'grid-column' : 1}"> </div>
    <div class="day" id="monday" [ngStyle]="{'grid-row' : 1,'grid-column' : 2}">Monday</div>
    <div class="day" [ngStyle]="{'grid-row' : 1,'grid-column' : 3}">Tuesday</div>
    <div class="day" [ngStyle]="{'grid-row' : 1,'grid-column' : 4}">Wednesday</div>
    <div class="day" [ngStyle]="{'grid-row' : 1,'grid-column' : 5}">Thursday</div>
    <div class="day" id="friday" [ngStyle]="{'grid-row' : 1,'grid-column' : 6}">Friday</div>
    <div class="time" *ngFor ="let timeColumnIndex of timeColumn" [ngStyle]="{'grid-row-start': timeColumnIndex*3+2 , 'grid-row-end': timeColumnIndex*3+3+2}" >
      {{getTime(timeColumnIndex*15+525)}}
    </div>
    <div class="course" *ngFor="let classTemp of classes.classInfo" [ngStyle]="{'grid-row-start': getClassRowStart(classTemp) , 'grid-row-end': getClassRowEnd(classTemp)  , 'grid-column': getClassColumn(classTemp)}">
      <div>
        {{classTemp.name}}<br>
        {{getTime(classTemp.start)}} - {{getTime(classTemp.end)}}
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="buttonPress()"><button  id="left" type="submit" class="btn addButton">Update</button></form>

