<mat-card>
    <form (ngSubmit)="onSubmit(selectedCourse)" #addForm="ngForm">
        <!-- Dropdown list to select the semester of the course. -->
        <mat-form-field>
            <mat-label>Select Semester</mat-label>
            <mat-select (selectionChange)="onSemesterSelect($event.value)">
                <mat-option *ngFor="let course of semesterList" [value]="course">
                    {{course.semester}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="selectedCourse">
            <!-- Dropdown list to select the name of the course based on the selected semester. -->
            <mat-form-field>
                <mat-label>Course Name</mat-label>
                <mat-select [(value)]="selectedCourse" (selectionChange)="onSelect($event.value)">
                    <mat-option *ngFor="let course of nameList" [value]="course">
                        {{course.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Dropdown list to select the code of the course based on the selected name. -->
            <mat-form-field>
                <mat-label>Course Code</mat-label>
                <input required matInput [matAutocomplete]="auto"
                       name="courseName" #course="ngModel" [(ngModel)]="input"
                       (ngModelChange)="genAutocompleteList(input)"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)"
                                  [displayWith]="displayCode">
                    <mat-option *ngFor="let course of codeList" [value]="course">
                        {{course.code}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
<!--             Drop down to select the lecture section based on the course chosen-->
            <mat-form-field>
                <mat-label>Lecture Section</mat-label>
                <input required matInput [matAutocomplete]="auto"
                       name="courseName" #course="ngModel" [(ngModel)]="input"
                       (ngModelChange)="genAutocompleteList(input)"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectLectureSection($event.option.value)"
                                  [displayWith]="displayCode">
                    <mat-option *ngFor="let course of lectureList" [value]="course">
                        {{course.lectureSection}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
<!--            Drop down to select the lab section based on the course chosen-->
            <mat-form-field>
                <mat-label>Laboratory Section</mat-label>
                <input required matInput [matAutocomplete]="auto"
                       name="courseName" #course="ngModel" [(ngModel)]="input"
                       (ngModelChange)="genAutocompleteList(input)"/>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectLabAndTutorialSections($event.option.value)"
                                  [displayWith]="displayLab">
                    <mat-option *ngFor="let course of labList" [value]="course">
                        {{course.labSection}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
<!--            Drop down to select the tutorial section based on the lecture chosen -->
            <mat-form-field>
                <mat-label>Tutorial Section</mat-label>
                <input required matInput [matAutocomplete]="auto"
                       name="courseName" #course="ngModel" [(ngModel)]="input"
                       (ngModelChange)="genAutocompleteList(input)"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectLabAndTutorialSections($event.option.value)"
                                  [displayWith]="displayTutorial">
                    <mat-option *ngFor="let course of tutorialList" [value]="course">
                        {{course.tutorialSection}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button [disabled]="!addForm.form.valid" type="submit">Add</button>
            </div>
        </div>
    </form>
    <!-- Alert messages from the results of addCourse -->
    <mat-chip-list>
        <mat-chip *ngFor="let message of messages" class="alert">
            {{message}}
        </mat-chip>
    </mat-chip-list>
</mat-card>
