.center {
  text-align: center;
}

.courseHistory_title{
  color: black;
  font-weight: bold;
}

.grey-background{
  background-color: lightgrey !important;
}

.semester-styling{
  font-weight: bold;
  color: white;
  font-family: Roboto, "Gill Sans MT", sans-serif;
}

