@import url('https://fonts.googleapis.com/css?family=Roboto');

span {
  text-align: center;
  color: white;
  font-family: Roboto, "Gill Sans MT", sans-serif;
  font-size: 28px;
}

.menu_button {
  margin: 0 5px;
  text-align: center;
    font-family: Roboto, "Gill Sans MT", sans-serif;
  font-size: 28px;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  text-align: center;
  font-family: Roboto, "Gill Sans MT", sans-serif;
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.head {
  background-color: #9A2929;
}

a:visited {
  color: white;
}
