<mat-card>
  <!--The ngSubmit bind the form element to the onSaveCourse() method -->
  <!--and the tag #courseForm tag of type ngForm allows access to the input Fields that uses ngModel using their name parameter-->
  <form (ngSubmit)="onSaveCourse(couseForm)" #couseForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>{{courseTypeText}}</mat-label>
      <!--the ngModel is added as parameter to make the input field part of the angular from template-->
      <!--required is a parameter that makes the input field red if the input does not meet req - visual thing only -->
      <!--the minimum length is set to 2 after that no error shown-->
      <input matInput placeholder="SOEN"
             name="courseTypeForm"
             ngModel
             required
             minlength="2"
             #passThisField="ngModel">
      <!--the following line checks if the input field is empty and displays an error-->
      <mat-error *ngIf="passThisField.invalid">Please enter a CourseModel Type</mat-error>
      <mat-icon matSuffix>class</mat-icon>
      <mat-hint>Example: SOEN</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{courseCodeText}}</mat-label>
      <!--The ngModel is used as binding of angular template forms-->
      <input matInput placeholder="341"
             name="courseCodeNumber"
             ngModel
             required
             minlength="2"
             #passCouseCodeField="ngModel">
      <mat-error *ngIf="passCouseCodeField.invalid">Please enter a CourseModel Code</mat-error>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Example: 341</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
