<!--<p><button mat-raised-button color="primary" (click)="array_fill()">Fill</button></p>-->
<mat-card>
  <mat-accordion multi="true" *ngIf="courses.length > 0">
    <!--multi=true allows multiple to be open? -->
    <!--*ngIf="courses.length > 0    allows us to check if the courses array is not empty -->
    <mat-expansion-panel *ngFor="let course of courses">
      <!--*ngFor="let storedCourse of courses"   is going to go through every element in the courses array in the class-->
      <mat-expansion-panel-header>
        {{ course.courseType }}
      </mat-expansion-panel-header>
      <p>{{ course.courseCode}} </p>
      <mat-action-row>
        <button mat-flat-button color="accent">Edit</button>
        <button mat-flat-button color="warn">Delete</button>
      </mat-action-row>
      <!--The storedCourse.content will output the elements in the courses array-->
    </mat-expansion-panel>
  </mat-accordion>
  <!-- if the courses array is empty the according will not be displayed -->

  <p class="text-center mat-body-1" *ngIf="courses.length <= 0"> No post added yet</p>
  <!--*ngIf="courses.length <= 0"   this will check if the courses array is empty and display this p tag-->
</mat-card>
