:host {
  display: block;
  margin-top: 1rem;
}

/*mat-accordion {*/
/*display: block;*/
/*width: 100%;*/
/*margin: auto;*/
/*}*/

mat-card {
  width: 100%;
  margin: auto;
}

.text-center {
  text-align: center;
}


