.example-container {
  position: absolute;
  background-image: url(EV.jpg);
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.calendarBox {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.calendar {
  background-color: transparent;
  padding: 0;
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
}

.sidebar {
  -webkit-box-shadow: -10px 0 -5px 2px #333333;
  box-shadow: 10px 0 5px -2px #333333;
  opacity: 0.95;
}

.a:visited {
    color: white;
}
