.example-container {
  position: absolute;
  background-image: url(EV.jpg);
  z-index: 1;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center
}

.calendarBox {
  display: inline-block;
  padding-top: 2%;
}

.calendar {
  background-color: transparent;
  padding: 0;
}

.sidebar {
  -webkit-box-shadow: -10px 0 -5px 2px #333333;
  box-shadow: 10px 0 5px -2px #333333;
  opacity: 0.95;
}
