@import '~@angular/material/theming';
@include mat-core();

$pp-primary: mat-palette($mat-red, 700);
$pp-accent:  mat-palette($mat-amber, 600);
$pp-warn:    mat-palette($mat-red);

$pp-theme: mat-light-theme($pp-primary, $pp-accent, $pp-warn);

@include angular-material-theme($pp-theme);
